[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
certifi = "==2020.6.20"
chardet = "==3.0.4"
distlib = "==0.3.1"
dj-database-url = "==0.5.0"
django = "==2.1"
django-adminlte3 = "==0.1.6"
django-crispy-forms = "==1.9.2"
django-heroku = "==0.3.1"
filelock = "==3.0.12"
gunicorn = "==20.0.4"
idna = "==2.10"
mysqlclient = "==2.0.1"
pipenv = "==2020.8.13"
psycopg2 = "==2.8.6"
pytz = "==2020.1"
requests = "==2.24.0"
six = "==1.15.0"
sqlparse = "==0.3.1"
urllib3 = "==1.25.10"
virtualenv = "==20.0.27"
virtualenv-clone = "==0.5.4"
whitenoise = "==5.2.0"

[requires]
python_version = "3.8"
