{% extends 'Common/base.html' %}
{% load static %}
{% block content %}
<!-- {% if user.is_authenticated %} -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-0"></div>
            <div class="col-md-10">
                <!-- /.box-header -->
                <div class="row" style="padding-top: 10%;">
                    <div class="col-md-10 col-md-offset-2">
                        {% include "adminstration/messages.html" %}
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
                    <div class="col-md-10">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header"><b> ASSIGN POSITION TO USER </b></div>
                            <div class="card-body bg-light">
                                {% load crispy_forms_tags %}
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        {{ user_assign_form|crispy }}
                                    </fieldset>
                                    <!-- /.col -->
                                    <div class="box-footer">
                                        <center>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </center>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- /.box-header -->
                    <!-- form start -->


                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <!-- /.box -->
</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- {% else %} -->
<!-- {% include 'rcaa/404.html' %} -->
<!-- {% endif %} -->
{% endblock %}