{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="alert alert-primary alert-dismissible text-center" role="alert">
    {{message}}
</div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-dismissible text-center" role="alert">
    <center> {{message}} </center>
</div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success alert-dismissible text-center" role=" alert">
    {{message}}
</div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<div class="alert alert-warning alert-dismissible text-center" role="alert">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}